header{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 32px;
    max-width: 1760px;
    box-sizing: border-box;
    justify-content: space-between;
}
#logo{
    display: flex;
    box-sizing: border-box;
    margin-left: 60px;
    height: 32px;
    width: 128px;
}
nav{
    width: 21%;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}
ul{
    padding-left: 0;
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
li a{
    text-decoration: none;
    color: rgb(74, 30, 30);
}
main{
    max-width: 1760px;

}
#text_div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#text_div a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
#main_div{
    margin-bottom: 60px;
    box-sizing: border-box;
    padding-left: 250px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    height: calc(100vw * 0.36);
    width: 100%;
    background-image: url('img/img1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#main_text1{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#main_text2{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}
#main_text3{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
#block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.tag{
    font-family: PT Sans;
    font-size: 16px;
    text-align: center;
    color: #C9A96E;
    text-transform: uppercase;
}
.date{
    font-family: PT Serif;
    font-size: 12px;
    color: #666666;
    text-align: center;
}
#block1 span{
    color: black;
    font-family: PT Serif;
    font-size: 16px;
    text-align: center;
}
#block1 div{
    display: flex;
    width: 370px;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px 0px #0000004d;
}
#block1 a{
    text-decoration: none;
    text-align: center;
}
#block3 span{
    color: black;
    font-family: PT Serif;
    font-size: 16px;
    text-align: center;
}
#block3 div{
    display: flex;
    width: 370px;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px 0px #0000004d;
}
#block3 a{
    text-decoration: none;
    text-align: center;
}
.block{
    width: 100%;
    box-sizing: content-box;
    margin-bottom: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
#block2 a{
    text-decoration: none;  
}
#block2 p{
    font-family: 'PT Sans';
    font-style: normal;
    color: #666666;
}
#block2 p.tag{
    color: #C9A96E;
}
#block2 p.date{
    margin-top: 40px;
    padding-bottom: 8px;
    font-size: 14px;
    justify-content: flex-end;
}
#block2 span{
    color: black;
    font-family: PT Serif;
    font-size: 20px;
    text-align: center;
}
#post{
    width: calc(100vw * 0.55);
    display: flex;
    width: auto;
}
.block div:hover{
    background: rgba(173, 216, 230, 0.7);
}
#block1{
    display: flex;
    max-width: 770px;
    height: 1350px;
    flex-wrap: wrap;
    flex-direction: column;
}
#block2{
    max-width: 770px;
    height: 561px;
    box-shadow: 0px 2px 5px 0px #0000003b;
}
#block3{
    display: flex;
    height: 900px;
    flex-direction: column;
    flex-wrap: wrap;
}
#sidebar{
   /*background-image: url('img/sidebar.png');*/
    background-repeat: no-repeat;
    margin-right: 100px;
    width: 270px;
    display: flex;
    flex-direction: column;
    height: 2566px;
}
.side{
    margin-top: 20px;
}
#media{
    overflow: hidden;  
}
.logo{
    display: flex;
    margin-bottom: 1%;
    width: 32.6%;
    height: 88px;
    background: #F8F9FA;
    margin-right: 1.1%;
    float: left;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 20px;
    height: 20px;
}
.logo:nth-child(3n){
    margin-right: 0;
}
.side_header{
    border: red solid 1px;
    width: 270px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.side_header a:hover{
    background: rgba(184, 232, 179, 0.7);
}
.side_header:nth-child(1){
    margin-top: 0;
}
.category{
    display: flex;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #666666;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#categories{
    margin-bottom: 0;
}
.side_header a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #171717;
}
@media (max-width: 900px) {
#logo{
    margin: 0;
    }
nav{
    width: 30%;
    font-size: 20px;
    }
    #main_div{
        padding-left: 100px;}
}
@media (max-width: 700px) {
nav{
    width: 30%;
    font-size: 20px;
    }
}
@media (max-width: 550px){
}