header{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 32px;
    max-width: 1760px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
#top_menu{
    width: 25%;
}
#logo{
    display: flex;
    box-sizing: border-box;
    margin-left: 60px;
    height: 32px;
    width: 128px;
}
nav{
    width: 100%;
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 18px;
    justify-content: space-around;
    display: flex;
}
ul{
    padding-left: 0;
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
li a{
    text-decoration: none;
    color: rgb(74, 30, 30);
}
main{
    max-width: 1760px;

}
#text_div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#text_div a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
#main_div{
    margin-bottom: 60px;
    box-sizing: border-box;
    padding-left: 250px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    height: calc(100vw * 0.36);
    width: 100%;
    background-image: url('img/img1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#main_text1{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#main_text2{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}
#main_text3{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
#block{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.tag{
    font-family: PT Sans;
    font-size: 16px;
    text-align: center;
    color: #C9A96E;
    text-transform: uppercase;
}
.date{
    font-family: PT Serif;
    font-size: 12px;
    color: #666666;
    text-align: center;
}
.post_div{
    display: flex;
    width: 48%;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px 0px #0000004d;
}
.post_div img{
    width: 100%;
    display: block;
    height: calc(100vw * 0.16);
}
.post_div a{
    text-decoration: none;
    text-align: center;
}
.post_div span{
    color: black;
    font-family: PT Serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.block{
    width: 100%;
    box-sizing: content-box;
    margin-bottom: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
#block2 a{
    text-decoration: none;  
}
#block2 p{
    font-family: 'PT Sans';
    font-style: normal;
    color: #666666;
}
#block2 p.tag{
    color: #C9A96E;
}
#block2 p.date{
    margin-top: 40px;
    padding-bottom: 8px;
    font-size: 14px;
    justify-content: flex-end;
}
#block2 span{
    color: black;
    font-family: PT Serif;
    font-size: 20px;
    text-align: center;
}
#post{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.block div:hover{
    background: rgba(173, 216, 230, 0.7);
}
#block1{
    display: flex;
    height: 1350px;
    flex-wrap: wrap;
    flex-direction: column;
}
#block2{
    height: 561px;
    box-shadow: 0px 2px 5px 0px #0000003b;
}
#block3{
    display: flex;
    height: 900px;
    flex-direction: column;
    flex-wrap: wrap;
}
#sidebar{
   /*background-image: url('img/sidebar.png');*/
    background-repeat: no-repeat;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 2665px;
}
#sidebar .post_div{
    width: 100%;
    margin: 0;
}
#sidebard .post_div img{
    height: calc(100vw * 0.1);
}
#media{
    overflow: hidden;  
}
.post_div a:hover{
    background: rgba(173, 216, 230, 0.7);
}
.logo{
    display: flex;
    margin-bottom: 1%;
    width: 32.6%;
    height: 88px;
    background: #F8F9FA;
    margin-right: 1.1%;
    float: left;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 20px;
    height: 20px;
}
.logo:nth-child(3n){
    margin-right: 0;
}
header{
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.side_header{
    border: rgba(115, 123, 0, 0.579) solid 1px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.side_header:nth-child(1){
    margin-top: 0;
}
.category{
    display: flex;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #666666;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#categories{
    margin-bottom: 0;
}
.side_header a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #262118;
}
#side_tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#side_tag a{
    padding: 20px;
    background: #F8F9FA;
    text-decoration: none;
    font-family: PT Serif;
    font-size: 18px;
    color: #666666;
}
#page_nav{
    border: 1px solid #E5E5E5;
    height: 50px;
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    width: 510px;
    justify-content: space-around;
}
#bottom_block{
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
    width: auto;
}
#bottom_block span{
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 22px;   
    color: #171717;
}
#bottom_block span a{
    text-decoration: none;
    color: #171717;
}
#bottom_image{
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}
#bottom_image img{
    margin-left: 10px;
    margin-right: 10px;
    width: 230px;
}   
footer{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
    flex-direction: column;
    align-items: center;
}
#footer_nav{
    margin-top: 40px;
    width: 30%;
}
#footer_nav nav{
    display: flex;
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 15px;
    color: #666666;
}
#footer_logos{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
@media (max-width: 1000px) {
    #logo{
        margin: 0;
    }
    #top_menu{
        width: 30%;
        font-size: 20px;   
    }
    #main_div{
        padding-left: 100px;
    }
    #post{
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 770px) {

}
@media (max-width: 550px){
}